{% extends "layout.html" %}
{% block body %}    
    <section class="hero-wrap hero-wrap-2 js-fullheight" style="background-image: url('{{ url_for('static', filename='images/globe2.jpg')}}" data-stellar-background-ratio="0.5">
      <div class="overlay"></div>
      <div class="container">
        <div class="row no-gutters slider-text js-fullheight align-items-end justify-content-center">
          <div class="col-md-9 ftco-animate pb-5 text-center">
            <h1 class="mb-3 bread">Places to Travel with Bonvoyage</h1>
          </div>
        </div>
      </div>
    </section>

    <section class="ftco-section">
    	<div class="container">
    		<div class="row justify-content-center pb-4">
          <div class="col-md-12 heading-section text-center ftco-animate">
            <h2 class="mb-4">Best Place Destination</h2>
          </div>
        </div>
        <div class="row">
        	<div class="col-md-3 ftco-animate">
        		<div class="project-destination">
        			<a href="#" class="img" style="background-image: url('{{ url_for('static', filename='images/singapore.jpg')}}">
        				<div class="text">
        					<h3>Singapore</h3>
        					<span>8 Tours</span>
        				</div>
        			</a>
        		</div>
        	</div>
        	<div class="col-md-3 ftco-animate">
        		<div class="project-destination">
        			<a href="#" class="img" style="background-image: url('{{ url_for('static', filename='images/canada.jpg')}}">
        				<div class="text">
        					<h3>Canada</h3>
        					<span>2 Tours</span>
        				</div>
        			</a>
        		</div>
        	</div>
        	<div class="col-md-3 ftco-animate">
        		<div class="project-destination">
        			<a href="#" class="img" style="background-image: url('{{ url_for('static', filename='images/newzeland.jpg')}}">
        				<div class="text">
        					<h3>New Zeland</h3>
        					<span>5 Tours</span>
        				</div>
        			</a>
        		</div>
        	</div>
        	<div class="col-md-3 ftco-animate">
        		<div class="project-destination">
        			<a href="#" class="img" style="background-image: url('{{ url_for('static', filename='images/place-4.jpg')}}">
        				<div class="text">
        					<h3>Autralia</h3>
        					<span>5 Tours</span>
        				</div>
        			</a>
        		</div>
        	</div>
        </div>
    	</div>
    </section>


    <section class="ftco-section ftco-no-pt">
    	<div class="container">
    		<div class="row justify-content-center pb-4">
          <div class="col-md-12 heading-section text-center ftco-animate">
            <h2 class="mb-4">Top Destinations</h2>
          </div>
        </div>
        <div class="row">
        	<div class="col-md-4 ftco-animate">
        		<div class="project-wrap">
        			<a href="#" class="img" style="background-image: url('{{ url_for('static', filename='images/destination-1.jpg')}}"></a>
        			<div class="text p-4">
        				<span class="days">8 Days Tour</span>
        				<h3><a href="#">Santorini, Greece</a></h3>
        				<p class="location"><span class="ion-ios-map">Santorini, Greece</span> </p>
        				<ul>
        					<li><span class="flaticon-mountains"></span>Near Mountain</li>
        				</ul>
        			</div>
        		</div>
        	</div>
        	<div class="col-md-4 ftco-animate">
        		<div class="project-wrap">
        			<a href="#" class="img" style="background-image: url('{{ url_for('static', filename='images/destination-2.jpg')}}"></a>
        			<div class="text p-4">
        				<span class="days">10 Days Tour</span>
        				<h3><a href="#">Bali, Indonesia</a></h3>
        				<p class="location"><span class="ion-ios-map"></span> Bali, Indonesia</p>
        				<ul>
        					<li><span class="flaticon-sun-umbrella"></span>Near Beach</li>
        				</ul>
        			</div>
        		</div>
        	</div>
        	<div class="col-md-4 ftco-animate">
        		<div class="project-wrap">
        			<a href="#" class="img" style="background-image: url('{{ url_for('static', filename='images/ladakh.jpg')}}"></a>
        			<div class="text p-4">
        				<span class="days">7 Days Tour</span>
        				<h3><a href="#">Ladakh, India</a></h3>
        				<p class="location"><span class="ion-ios-map"></span> Ladakh, India</p>
        				<ul>
        					<li><span class="flaticon-Bike"></span>Best Rides on Royal Enfield</li>
        				</ul>
        			</div>
        		</div>
			</div>
			

        	<div class="col-md-4 ftco-animate">
        		<div class="project-wrap">
        			<a href="#" class="img" style="background-image: url('{{ url_for('static', filename='images/paris.jpg')}}"></a>
        			<div class="text p-4">
        				<h3><a href="#">Eiffel Tower, Paris</a></h3>
        				<p class="location"><span class="ion-ios-map"></span> Eiffel Tower, Paris</p>
        				<ul>
        					<li>Love city Paris</li>
        				</ul>
        			</div>
        		</div>
        	</div>
    

        	<div class="col-md-4 ftco-animate">
        		<div class="project-wrap">
        			<a href="#" class="img" style="background-image: url('{{ url_for('static', filename='images/london.jpg')}}"></a>
        			<div class="text p-4">
        				<h3><a href="#">London, UK</a></h3>
        				<p class="location"><span class="ion-ios-map"></span> London, UK</p>
        				<ul>
        					<li>City of dreams London</li>
        				</ul>
        			</div>
        		</div>
        	</div>
        	<div class="col-md-4 ftco-animate">
        		<div class="project-wrap">
        			<a href="#" class="img" style="background-image: url('{{ url_for('static', filename='images/vegas.jpg')}}"></a>
        			<div class="text p-4">
        				<h3><a href="#">Las Vegas, USA</a></h3>
        				<p class="location"><span class="ion-ios-map"></span>Las Vegas, USA</p>
        				<ul>
        					<li>City of Gambling< LasVegas</li>
        				</ul>
        			</div>
        		</div>
        	</div>
        </div>
    	</div>
    </section>
    
  </body>
</html>
{% endblock %}